@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.food-munch-logo{
  height: 70px;
  width:80px;
}

#navItem1{
    color:black;
    font-family:"roboto";
}

#navItem2{
  color:black;
  font-family:"roboto";
}

#navItem3{
  color:black;
  font-family:"roboto";
}

#navItem4{
  color:black;
  font-family:"roboto";
}

.Banner-section-bg-container{
  background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
  background-size: cover;
  height: 100vh;
}

.Banner-tittle{
  color: white;
  font-family: "roboto";
  font-size: 45px;
  font-weight: 400;
}

.Banner-caption{
  color: white;
  font-family:"Roboto";
  font-size:28px;
  font-weight: 300;
}

.Custom-button{
  height: 45px;
  width: 130px;
  border-width: 0px;
  border-radius: 8px;
  background-color:#d0b200;
  color: white;
  margin-right: 10px;

}

.Outline-button{
  height: 45px;
  width: 130px;
  border-radius: 8px;
  background-color:transparent;
  border-width: 1px;
  color:#d0b200;
  border-color:#d0b200;
}

.wcu-section{
  background-color:#f9fbfe;
}

.wcu-section-heading{
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.wcu-section-description{
  font-family:"Roboto";
  color: #5a7184;
  font-size: 16px;
}

.wcu-card{
  background-color:white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #e5eaf4;
  border-radius: 16px;
}

.wcu-card-image {
  width: 87px;
  height: 90px;
}

.wcu-card-title{
  color: #323f4b;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}

.wcu-card-description{
  color: #7b8794;
  font-family: "Roboto";
  font-size: 16px;
}

.offers{
  color: #323f4b;
  font-style: italic;
  font-weight: 600;
}

.explore-menu-section{
  background-color: white;
}

.menu-section-heading{
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.menu-item-card{
  border-radius:16px;
  
}

.menu-item-image{
  border-radius: 16px;
}

.menu-card-heading{
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}

.menu-card-link{
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}